.MYDrawer__checkbox {
  display: none;
}

.MYDrawer__checkbox:checked ~ .MYDrawer__overlay {
  display: block;
  opacity: 1;
}

.MYDrawer__checkbox:checked ~ .MYDrawer__container {
  visibility: visible;
  transform: translate3d(0, 0, 0) !important;
}

.MYDrawer__overlay {
  display: none;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.MYDrawer__container {
  position: fixed;
  visibility: hidden;
  background: white;
  transition: all;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}
